<header class="gridOneRow">
    <div>
      <img src="images/Untitled.png" alt="Events for You logo"> <!--Logo sukūrė generic per AI toolsą internete "Looka"-->
    </div>
    <div>
    </div>
  </header>