<nav>
    <h2>MENIU</h2>
    <ul>
      <li><a href="/registracija">Registracijos forma</a></li> <!--reikia įdėt į a href Registracijos formos puslapio nuorodą-->
      <li><a href="/renginiai">Renginių sąrašas</a></li> <!--reikia įdėt į a href Renginių sąrašo puslapio nuorodą-->
      <li><a href="/">Registruotų vartotojų sąrašas</a></li> <!--reikia įdėt į a href TOS LENTELĖS puslapio nuorodą-->
    </ul>
</nav>